<p class="text-info">
  <strong>Edit Location</strong>
</p>
<hr>
<section>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name" name="name" aria-describedby="namehelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      <input type="lat" class="form-control" id="latitude" [(ngModel)]="lat" name="lat" aria-describedby="latitudehelp" placeholder="Enter latitude">
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      <input type="lng" class="form-control" id="longitude" [(ngModel)]="lng" name="lng" aria-describedby="longitudehelp" placeholder="Enter longitude">
    </div>
    <div class="form-group">
      <label for="radius">Radius Distance(in meters)</label>
      <input type="radius" class="form-control" id="radius" #key (keyup.enter)="onEnter(key.value)" [value]="radius" name="radius"
        aria-describedby="radiushelp" placeholder="Enter Radius Distance">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="address" class="form-control" id="address" name="address" aria-describedby="addresshelp" placeholder="Enter Address">
    </div>
    <div class="form-group">
      <label for="contactno">Contact Number</label>
      <input type="contactno" class="form-control" id="contactno" name="contactno" aria-describedby="contactnohelp" placeholder="Enter Contact Number">
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <!-- <input type="brand" class="form-control" id="brand" aria-describedby="brandhelp" placeholder="Enter Brand"> -->
      <select id="brand" class="form-control">
        <option selected>KANDY</option>
        <option>...</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</section>

<aside>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

    <agm-circle *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [radius]="m.radius" [fillColor]="'purple'" [circleDraggable]="false" [editable]="true"
      (centerChange)="centerChange($event)" (radiusChange)="radiusChange($event)" (dragEnd)="dragEnd($event)">
    </agm-circle>
    <!-- <agm-circle *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [radius]="m.radius" [fillColor]="'yellow'" [circleDraggable]="false" [editable]="true"
      (centerChange)="centerChange($event)" (radiusChange)="radiusChange($event)" *ngIf="locationChosen" ></agm-circle> -->
  </agm-map>
</aside>
